    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    /* the header */
    
    .header {
        background-color: #CABBB7;
        padding: 20px;
        overflow: hidden;
    }
    
    .header h2 {
        position: absolute;
        margin-left: 250px;
        font-weight: bold;
        margin-top: -150px;
    }
    /* top Codefactory logo */
    
    #toplogo {
        position: relative;
        display: block;
        width: auto;
        height: 159px;
        margin-left: 60%;
        margin-top: 30px;
        margin-bottom: 50px;
        padding-left: 75px;
    }
    /* navigation bar */
    
    .nav-bar {
        overflow: hidden;
        background-color: #C65252;
        top: 0;
        position: sticky;
    }
    
    .nav-links li {
        list-style: none;
        float: left;
    }
    
    ul {
        float: right;
        margin-right: 100px;
    }
    /* the nav bar links */
    
    .nav-bar a {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        margin-right: 60px;
    }
    /* color on hover */
    
    .nav-bar a:hover {
        color: #8b0000;
    }
    
    .nav-bar .current {
        font-weight: bold;
        color: #8b0000;
    }
    /* page display title */
    
    #page-title h1 {
        font-size: 75px;
        text-align: center;
        font-weight: bold;
        color: #000000;
        padding: 50px 50px;
    }
    /* home content container */
    
    #container {
        display: block;
        width: 900px;
        margin: 0 auto 0 auto;
    }
    
    img {
        display: block;
        margin: auto;
    }
    /* home first section */
    
    #topimage {
        display: block;
        width: 900px;
        height: 275px;
        object-fit: cover;
        padding-left: 30px;
    }
    /* home 2 columns that float next to each other */
    
    .column {
        float: left;
        width: 50%;
        max-width: 900px;
        padding: 30px 0 0 30px;
    }
    
    #dcardimage {
        width: 417px;
        height: 233px;
    }
    
    #escooterimage {
        width: 417px;
        height: 233px;
    }
    /* home Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* home content text */
    
    p {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    /* Blog Page section */
    /* Main column */
    
    #blog-container {
        width: 80%;
        padding: 0px 20px;
        margin: auto;
    }
    
    .blog-content-main {
        flex: 50%;
        background-color: white;
        padding: 20px;
    }
    
    .blog-content-main p {
        font-size: 14px;
        text-align: left;
    }
    
    .post-link {
        color: #8b0000;
        font-style: italic;
        transition: all 0.4s;
    }
    
    .post-link:hover {
        color: #C65252;
        text-decoration: underline;
        text-decoration-color: currentColor;
        cursor: pointer;
    }
    /* blog image, empty example */
    
    .blog-img {
        background-color: #c5c5c5;
        width: 50%;
        padding: 20px;
    }
    /* About Page section */
    
    .profile-column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }
    
    .profile-card {
        margin: 10px;
        background-color: #c5c5c5;
    }
    
    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #8b0000;
        color: white;
    }
    
    .about-section span {
        font-size: 16px;
    }
    
    .container {
        padding: 0 16px;
    }
    
    .about-container span {
        font-size: 12px;
        text-align: center;
    }
    
    .about-image {
        width: 100%;
        height: auto;
        padding-top: 15px;
    }
    
    h3 {
        text-align: center;
        font-size: 35px;
        color: #555;
    }
    
    .about-title {
        color: #8b0000;
    }
    
    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #8b0000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }
    
    .button:hover {
        background-color: #555;
    }
    /* Contact Page section */
    
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #cab5b5;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #8b0000;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #CABBB7;
    }
    
    .contact-container {
        border-radius: 5px;
        background-color: #cacaca;
        padding: 20px;
        width: 850px;
        margin: 10px auto 50px auto;
    }
    /* Footer area */
    
    #bottomlogo {
        width: 15%;
        padding: 10px 10px;
    }
    
    span {
        font-size: 13px;
    }
    
    footer {
        bottom: 0;
        top: 20px;
        width: 100%;
        display: block;
        height: 130px;
        background-color: #CABBB7;
    }
    /* Responsive layout - to make the columns stack on top of each other instead of next to each other */
    
    @media screen and (max-width:400px) {
        .column {
            width: 100%;
        }
    }
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    
    @media screen and (max-width: 400px) {
        .nav-bar a {
            float: none;
            width: 100%;
        }
    }
    /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
    
    @media screen and (max-width: 700px) {
        .row {
            flex-direction: column;
        }
    }